<p id="notice"><%= notice %></p>

<h1>Which Train Should I Take?</h1>

<p>
Local time: <b><%= @now.strftime("%H:%M") %></b> (at Arncliffe, NSW, Australia)<br>
Note: No train times past ~10:30AM<% if @isPastLastTrain %>; showing options for tomorrow<% end %>
</p>

<div class="tripoptions">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <% count = 0 %>
      <% @tripoptions.each do |tripoption| %>
        <th>Option <%= count += 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Leave house by</td>
      <% @tripoptions.each do |tripoption| %>
        <td><b><%= tripoption.leaveHouseBy.strftime("%H:%M") %></b></td>
      <% end %>
    </tr>
    <tr>
      <td>Go to train station</td>
      <% @tripoptions.each do |tripoption| %>
        <td><b><%= tripoption.station.name %></b></td>
      <% end %>
    </tr> 
    <tr>
      <td>Train departs on</td>
        <% @tripoptions.each do |tripoption| %>
      <td><%= tripoption.trainLeavesAt.strftime("%H:%M") %></td>
      <% end %>
    </tr>
    <tr>
      <td>Train arrives at Martin Place on</td>
        <% @tripoptions.each do |tripoption| %>
      <td>XX:XX</td>
      <% end %>
    </tr>
  </tbody>
</table>
<div>
  
<p><button type="button" class="btn btn-info"><%= link_to 'Stations', stations_path %></button></p>

<br><br>

<hr>

<p>
  <button type="button" class="btn btn-sm btn-default">
    <a href="https://dl.dropboxusercontent.com/u/1611870/e-commute-schedule.xls">Alpha version</a></button>
  <button type="button" class="btn btn-sm btn-default"><a href="https://github.com/livcg/which-train" target="_blank">Source</a></button>
</p>
