<p id="notice"><%= notice %></p>

<h1>Which Train Should I Take?</h1>

<table>
  <thead>
    <tr><td>Current time</td><td><%= @now.strftime("%H:%M") %></td></tr>

    <% @tripoptions.each do |tripoption| %>
      <tr><td>&nbsp;</td></tr>
      <tr><td><b>Option:</b></td></tr>
      <tr><td>Leave house by</td><td><b><%= tripoption.leaveHouseBy.strftime("%H:%M") %></b></td></tr>
      <tr><td>Go to train station</td><td><b><%= tripoption.station.name %></b></td></tr> 
      <tr><td>Train departs</td><td><%= tripoption.trainLeavesAt.strftime("%H:%M") %></td></tr>
    <% end %>
  </thead>
</table>

<br>

<%= link_to 'Stations', stations_path %>

