<p id="notice"><%= notice %></p>

<h1>Which Train Should I Take?</h1>

<p>
Local time: <b><%= @now.strftime("%-I:%M %p") %></b> (at Arncliffe, NSW, Australia)<br>
Note: No train times past ~10:30 AM<% if @is_past_last_train %>; showing options for tomorrow after ~8:20 AM<% end %>
</p>

<div class="tripoptions">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <% count = 0 %>
      <% @trip_options.each do |trip_option| %>
        <th>Option <%= count += 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Leave house by</td>
      <% @trip_options.each do |trip_option| %>
        <td><b><%= trip_option.leave_house_by.strftime("%-I:%M %p") %></b></td>
      <% end %>
    </tr>
    <tr>
      <td>Go to train station</td>
      <% @trip_options.each do |trip_option| %>
        <td><b><%= trip_option.station.name %></b></td>
      <% end %>
    </tr> 
    <tr>
      <td>Train departs on</td>
        <% @trip_options.each do |trip_option| %>
      <td><%= trip_option.train_leaves_at.strftime("%-I:%M %p") %></td>
      <% end %>
    </tr>
    <tr>
      <td>Train arrives at<br>Martin Place on</td>
        <% @trip_options.each do |trip_option| %>
      <td>XX:XX</td>
      <% end %>
    </tr>
  </tbody>
</table>
<div>
  
<p><button type="button" class="btn btn-info"><%= link_to 'Stations', stations_path %></button></p>

<br><br>

<hr>

<p>
  <button type="button" class="btn btn-sm btn-default">
    <a href="https://dl.dropboxusercontent.com/u/1611870/e-commute-schedule.xls">Alpha version</a></button>
  <button type="button" class="btn btn-sm btn-default"><a href="https://github.com/livcg/which-train" target="_blank">Source</a></button>
</p>
