<p id="notice"><%= notice %></p>

<h1>Which Train Should I Take?</h1>

<p>
Current time: <b><%= @now.strftime("%H:%M") %></b>
<% if @isPastLastTrain %>
  <br>Showing train times for tomorrow
<% end %>
</p>

<table border="1">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <% count = 0 %>
      <% @tripoptions.each do |tripoption| %>
        <td>Option <%= count += 1 %></td>
      <% end %>
    </tr>

    <tr>
      <td>Leave house by</td>
      <% @tripoptions.each do |tripoption| %>
        <td><b><%= tripoption.leaveHouseBy.strftime("%H:%M") %></b></td>
      <% end %>
    </tr>
    <tr>
      <td>Go to train station</td>
      <% @tripoptions.each do |tripoption| %>
        <td><b><%= tripoption.station.name %></b></td>
      <% end %>
    </tr> 
    <tr>
      <td>Train departs</td>
        <% @tripoptions.each do |tripoption| %>
      <td><%= tripoption.trainLeavesAt.strftime("%H:%M") %></td>
      <% end %>
    </tr>
    <tr>
      <td>Train arrives at Martin Place</td>
        <% @tripoptions.each do |tripoption| %>
      <td>XX:XX</td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Stations', stations_path %>

