<%= form_for(@trip_option) do |f| %>
  <% if @trip_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_option.errors.count, "error") %> prohibited this trip_option from being saved:</h2>

      <ul>
      <% @trip_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leave_house_by %><br>
    <%= f.time_select :leave_house_by %>
  </div>
  <div class="field">
    <%= f.label :train_leaves_at %><br>
    <%= f.time_select :train_leaves_at %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br>
    <%= f.text_field :station_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
