<p id="notice"><%= notice %></p>

<p>
  <strong>leave_house_by:</strong>
  <%= @trip_option.leave_house_by %>
</p>

<p>
  <strong>train_leaves_at:</strong>
  <%= @trip_option.train_leaves_at %>
</p>

<p>
  <strong>Station:</strong>
  <%= @trip_option.station %>
</p>

<%= link_to 'Edit', edit_trip_option_path(@trip_option) %> |
<%= link_to 'Back', trip_options_path %>
